# IDE-specific directories
.idea/
.vscode/

# Python cache files
__pycache__/
*.py[cod]

# Temporary files
*.tmp
*.log

# Ignore other specific files
# Add any other files or directories you want to ignore here